<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<div class="animated fadeIn">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque et dolor quis mollis. Nulla eu pharetra
    metus, at venenatis augue. Praesent ut lorem augue. Vivamus aliquam ultricies aliquam. Curabitur mollis justo eros.
    Nulla luctus, enim sit amet vehicula sagittis, dolor augue sagittis ex, vel rutrum urna purus in turpis. Nullam
    lorem ligula, pellentesque id justo eget, tincidunt mollis libero. Nunc lacinia ante lorem, vitae rhoncus odio
    accumsan id. Etiam vitae vehicula mi, non pharetra libero.</p>

  <p>Donec scelerisque lectus at libero ultrices, vel consectetur tortor pulvinar. Nunc mollis eros tortor, sed
    ultricies eros hendrerit et. Morbi eget dictum nisi, et varius orci. Vivamus blandit commodo mi, vel placerat dolor
    consectetur sed. Duis convallis ex a tincidunt imperdiet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Phasellus eu varius neque, a volutpat tellus. Mauris eget eros non lacus dapibus pharetra id nec eros.</p>

  <p>Fusce diam ligula, scelerisque at odio non, tristique aliquet sapien. Morbi eget libero laoreet risus euismod
    euismod a eget ligula. Nam sit amet sem commodo, vulputate lorem eu, pharetra magna. Orci varius natoque penatibus
    et magnis dis parturient montes, nascetur ridiculus mus. Nulla gravida at dolor id tempor. Aliquam ultricies, neque
    vel mollis blandit, ante nunc condimentum nunc, quis tempor dolor sapien et nisi. Vestibulum sed consequat diam. Ut
    iaculis eget ex sed tempus. Nunc commodo, risus quis efficitur dignissim, tellus justo eleifend nibh, quis
    condimentum nisi nisi eget leo.</p>

  <p>Cras consectetur nibh at luctus placerat. Etiam posuere nisi vitae efficitur interdum. Ut finibus justo quis urna
    consectetur, vel finibus urna finibus. Maecenas sed ornare risus. Curabitur magna ipsum, molestie non laoreet eget,
    condimentum at lectus. Sed suscipit orci massa, bibendum elementum arcu porttitor quis. Proin felis mauris, mollis
    at mi eget, euismod sodales urna.</p>

  <p>Donec quis nibh nisi. Pellentesque auctor purus nisl, at dapibus orci vehicula ut. Duis bibendum diam vitae diam
    imperdiet commodo. Aenean hendrerit tincidunt sollicitudin. Praesent fringilla nibh a varius tempor. Maecenas non
    fermentum ligula, eget gravida ante. Suspendisse in sapien nec tortor posuere tempus. Nulla feugiat arcu sit amet
    quam placerat dictum. Vestibulum ante nisl, tincidunt vitae sagittis vitae, malesuada id urna. Aliquam ultricies
    arcu nulla, sit amet porttitor arcu rhoncus non. Proin viverra arcu sed odio efficitur viverra.</p>
</div>
